<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">{{this.today.toDateString() }}</a>
    <button href="javascript:void(0)" (click)="logout()" class=" btn btn-sm d-none d-sm-flex align-items-center"
      style="background-color: white;">
      <span class="material-icons ">logout</span>&nbsp;
      <span>Logout</span>

    </button>
  </div>
</nav>
