<div class="header bg-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid"></div>
</div>
<div class="container-fluid mt--9">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row w-100 m-0">
            <div class="col-sm-6 p-0">
              <h3>Images</h3>
            </div>
            <div class="col-sm-6 p-0">
              <button class="btn btn-default btn-sm float-right" (click)="openImageModal(ImageModal)">
                Add Image
              </button>

              <!-- <div class="row w-100 m-0">
                <div class="form-group col-7 m-0">
                  <input type="month" class="form-control" placeholder="dd/mm/yyyy" name="d2">
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="imageList.length === 0">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="assets/img/empty.svg" class="img-fluid" height="200px" width="200px" alt="No Data">
            <h3 class="mt-4 text-sm text-muted">No Images Found</h3>
          </div>
        </div>
        <div class="table-responsive" *ngIf="imageList.length !== 0">
          <table class="table table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Title</th>
                <th scope="col">Descripton</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let image of imageList; index as idx">
                <td>{{ idx + 1 }}</td>
                <td>{{ image.title || 'No Title Provided' }}</td>
                <td class="text-wrap">{{ image.description || 'No Description Provided' }}</td>
                <td>
                  <h3>
                    <span class="badge badge-pill {{ image.active ? 'badge-success' : 'badge-danger' }}">{{ image.active
                      ? "Active" : "In-Active" }}</span>
                  </h3>
                </td>
                <td>
                  <button class="btn btn-default btn-sm" (click)="viewImageModal(viewModal, image.imageUrl)">View
                    Image</button>
                  <button class="btn btn-default btn-sm" (click)="openImageModal(ImageModal, image)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="openDeleteModal(deleteModal, image)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer" *ngIf="showLoadMore">
          <button class="btn btn-sm btn-default pull-right" (click)="loadMoresSliderImages()">
            Load More
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ImageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Image Details</h4>
    <button type="button" class="close" aria-label="Close" id="closeAddNewStaffModal" #closeAddNewStaffModal
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="imageForm" (ngSubmit)="uploadImage(imageForm)">
    <div class="modal-body">
      <div class="form-group mb-2">
        <label class="text-sm" for="title">Title</label>
        <div class="input-group m-0">
          <div id="title" class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input type="text" name="name" formControlName="title" class="form-control" placeholder="Title" required>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="text-sm" for="description">Description</label>
        <div class="input-group m-0">
          <div id="title" class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-align-justify"></i>
            </span>
          </div>
          <textarea class="form-control form-control-sm" id="descripton" formControlName="description"
            rows="3"></textarea>
        </div>
      </div>
      <div class="form-group mb-2">
        <label class="text-sm" for="imageUrl">Select Image</label>
        <div class="input-group m-0">
          <div id="imageUrl" class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-file"></i>
            </span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input " id="customFile" (change)="checkImageType($event.target.files)"
              required>
            <label id="imageUrl" class="custom-file-label " for="customFile">
              <span *ngIf="tempImageFile == null">Choose Image File</span>
              <span class="text-limit" *ngIf="tempImageFile != null">{{ tempImageFile.name }}</span>
            </label>

          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="text-sm">Image status</label><br>
        <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="active">
          <label ngbButtonLabel class="btn-primary btn-sm">
            <input ngbButton type="radio" [value]="true">Enable
          </label>
          <label ngbButtonLabel class="btn-primary btn-sm">
            <input ngbButton type="radio" [value]="false">Disable
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm" (click)="modal.dismiss('')">
        Cancel
      </button>
      <button type="submit" class="btn btn-default btn-sm" [disabled]="loader">
        Save
        <span *ngIf="loader">&nbsp;</span>
        <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
</ng-template>

<ng-template let-modal #viewModal>
  <div class="modal-header border-0 d-flex justify-content-between align-items-center">
    <h3>Image</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <img [src]="imageUrl" class="img-fluid shadow-sm" alt="" style="height: 25em;">
    </div>
    <!-- <div class="row w-100">
    </div> -->
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header d-flex justify-content-between align-items-center">
    <h4 class="modal-title">Are you sure want to delete this image?</h4>
    <button type="button" class="close" aria-label="Close" id="closeModal" #closeModal
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default float-right mr-2" (click)="modal.dismiss('Cross click')">
      NO
    </button>
    <button type="submit" class="btn btn-sm btn-danger float-right mr-2" (click)="deleteImage()">
      YES
    </button>

  </div>
</ng-template>